body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: white;
  background-image: url('../images/lightpaperfibers.png');
  background-repeat: repeat;
  position: relative;
}
/* Background pattern from subtlepatterns.com */

div.thing {
  position: fixed;
  width: 100%
  top: 0px;
  left: 5px;
  height: 1rem;
  z-index: 1;
}

li.menuitems {
  padding-bottom: 5px;
}

h4 {
  margin: auto;
}

login-container {
  margin-top: 25%;
}

.abcRioButton {
  margin: auto;
}

.carousel-control {
  background-image: none;
}

a {
  color: #00B7FF;
}

a i.fa {
  color: #1A1A1A;
}

a i.fa-cog {
  cursor: pointer;
}

#panel-search {
  padding: 20% 2rem 0 2rem;
}

.login-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: auto;
  padding: 1rem 0;
}

a:hover i.fa:hover {
  color: #5A0000;
  text-decoration: none;
}

a:active i.fa:active {
  color: #594C40;
}

a:visited i.fa:visited {
  color: #1A1A1A;
}

h1 {
  padding: 0 5px 0 10px;
  margin: 0;
  text-align: center;
  display: inline-block;
}
h1 a {
  color: #1A1A1A;
}

h1:hover a:hover {
  color: #5A0000;
  text-decoration: none;
}

h1:active a:active {
  color: #594C40;
}

h1 a:visited {
  color: #1A1A1A;
}

a:visited {
  text-decoration: none;
}

a:focus {
  text-decoration: none;
}

p {
  margin: 0;
  text-align: center;
}

p {
  padding-top: 5px;
}

span.caret.itemname {
  margin: 0 5px;
}

.bottomthing {
  height: 70px;
}

.find-button {
  display: block;
}

.jumbotron {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 0;
  text-align: center;
  position: relative;
  /*vertical-align:*/
  /*display: table-cell;*/
  background-color: transparent;
  /*border-bottom-width: thin;
  border-bottom-color: #FF9933;
  border-bottom-style: solid;*/
}

.username {
  text-align: right;
}

.jumbotron h1 {
  display: inline-block;
  font-family: 'Permanent Marker', cursive;
}

.options {
  display: inline-block;
  float: right;
  padding: 1rem;
  height: auto;
  margin: 0 auto;
  position: relative;
}

li a.to-indent {
  padding: 3px 20px 3px 40px;
}


.container {
  padding: 0;
  /*margin: 0 1%;
  border-style: double;
  border-color: black;
  border-radius: 3px;*/
}


h2 {
  margin-top: 0;
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  /*border-bottom-style: groove;
  border-bottom-color: black;*/
  /*border-color: black;
  border-style: double;
  border-radius: 3px;*/
  margin-bottom: 5px;
  /*display: inline-block;*/
}

#panel-search-results {
  margin-top: 1rem;
}

h3 {
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  margin: 0;
}

/*.carousel.ng-isolate-scope {
  height: 300px;
  width: 100%;
}*/

h4 {
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  margin: 0 0 3px 0;
}

h5 {
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  margin: 0 0 5px 0;
}

.outside {
  text-align: center;
}

.menu-dropdowns {
  text-align: center;
  display: inline-block;
}

.item.ng-isolate-scope {
  width: auto;
  height: auto;
}

/*.dropdown-menu {
  left: -50%;
  right: -50%;
  text-align: center;
}*/

ul.menuitems {
  margin-top: 5px;
}

.line-divider {
  border-color: black;
  border-width: 1px 0;
  border-radius: 3px;
  /*border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;*/
  width: 75%;
  display:block; /* for use on default inline elements like span */
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
  border-style: solid none;
  text-align: center;
  margin: auto;
}

input {
  text-align: center;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}

.search {
  margin: 0 5px;
}

.curved-box {
  border-width: 1px 0px 0px 0px;
  border-style: solid none none none;
  border-top-color: #B1B1B1;
  padding: 5px;
}

.search-results {
  border-width: 1px 0px 0px 0px;
  border-style: solid none none none;
  border-top-color: #B1B1B1;
  padding: 5px;
}

.search-results.results:hover {
  cursor: pointer;
}

.search-results.results:active {
  background: #E6E6E6;
}

.search-results.back:active {
  background: transparent;
}

::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;
}

:-ms-input-placeholder {
   text-align: center;
}

* {
  padding: 0;
  margin: 0;
  /*margin: auto;*/
}

.fit { /* set relative picture size */
  max-width: 96%;
  max-height: 96%;
}

.center {
  display: block;
  margin: auto;
}

.powered-by {
  float: right;
}
/*
.carousel.ng-isolate-scope {
  border: 2px solid black;
}

div.carousel h4 {
  text-shadow: 0px 0px 5px black, 0px 0px 5px black, 0px 0px 5px black, 0px 0px 5px black;
}

div.carousel p {
  text-shadow: 0px 0px 5px black, 0px 0px 5px black, 0px 0px 5px black, 0px 0px 5px black;
}*/

div.themResults {
  margin-top: 10px;
}

/*.form-group.searchBox {
  width: auto;
  margin: auto auto 5px auto;
}*/

.no-results {
  padding-top: 15px;
}

#photoUpload {
  display: inline;
}
