<!-- RESTAURANT SEARCH FORM -->
<div id="panel-search" ng-show="results.length == 0">
  <search-box></search-box>
  <div class="no-results" ng-show="noResults">
    <p>No results were found.</p>
  </div>
</div>

<!-- RESTAURANT SERACH RESULTS -->
<div id="panel-search-results" ng-show="results.length > 0">
  <ul>
    <li ng-repeat="restaurant in results">
      <a ng-href="#/menu/{{restaurant.name}}/{{restaurant.address}}">
        <!-- TODO: Bug if restaurant or address has a slash...? -->
        <!-- <div class="search-results results" ng-click="restaurants.select(restaurant)"> -->
        <div class="search-results results">
          <strong>{{restaurant.name}}</strong>
          <p>{{restaurant.address}}</p>
        </div>
      </a>
    </li>
  </ul>
  <div class="search-results back">
    <p>Didn't find what you were looking for?<br>Try a more specific location.</p>
    <div class="row themResults">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
        <search-box></search-box>
      </div>
    </div>
    <!-- <a href="" ng-click="results = []"><i class="fa fa-arrow-circle-o-left fa-3x"></i></a> -->
  </div>
  <img class="powered-by" src="images/powered_by_google_on_white.png">
</div>
