<!-- RESTAURANT SEARCH FORM -->
<div id="panel-search" ng-show="restaurants.results.length == 0 && restaurants.name.length == 0">
  <form class="form-inline text-center search" name="searchBox" ng-submit="restaurants.search()">
    <div class="form-group">
      <input type="text" ng-model="restaurants.searchName" class="form-control" placeholder="Restaurant" title="Restaurant"></textarea>
    </div>
    <div class="form-group">
      <input type="text" ng-model="restaurants.searchLocation" class="form-control" placeholder="Location" title="City or State"></textarea>
    </div>
    <button type="submit" class="btn btn-default">Find</button>
  </form>
</div>

<!-- RESTAURANT SERACH RESULTS -->
<div id="panel-search-results" ng-show="restaurants.results.length > 0">
  <ul>
    <li ng-repeat="restaurant in restaurants.results">
      <a ng-href="#/menu/{{restaurant.name}}/{{restaurant.address}}">
        <!-- TODO: Bug if restaurant or address has a slash...? -->
        <!-- <div class="search-results results" ng-click="restaurants.select(restaurant)"> -->
        <div class="search-results results">
          <strong>{{restaurant.name}}</strong>
          <p>{{restaurant.address}}</p>
        </div>
      </a>
    </li>
  </ul>
  <div class="search-results back">
    <a href="" ng-click="restaurants.results = []"><i class="fa fa-arrow-circle-o-left fa-3x"></i></a>
  </div>
  <img class="powered-by" src="images/powered_by_google_on_white.png">
</div>
