<!-- RESTAURANT SEARCH FORM -->
<div id="panel-search" ng-show="results.length == 0">
  <search-box></search-box>
  <div class="no-results" ng-show="noResults">
    <p>No results were found.</p>
    <p>Make sure the restaurant is spelled correctly and the location is valid.</p>
  </div>
</div>

<!-- RESTAURANT SERACH RESULTS -->
<div id="panel-search-results" ng-show="results.length > 0">
  <ul>
    <li ng-repeat="restaurant in results">
      <a ng-href="#/menu/{{restaurant.name}}/{{restaurant.address}}">
        <!-- TODO: Bug if restaurant or address has a slash...? -->
        <!-- <div class="search-results results" ng-click="restaurants.select(restaurant)"> -->
        <div class="search-results results">
          <strong>{{restaurant.name}}</strong>
          <p>{{restaurant.address}}</p>
        </div>
      </a>
    </li>
  </ul>
  <div class="search-results back">
    <p>Didn't find what you were looking for?</p>
    <p><small>Make sure the restaurant is spelled correctly,<br>and the location is correct.<br>Else, we appologize for not being able to find your request.</small></p>
    <search-box></search-box>
    <!-- <a href="" ng-click="results = []"><i class="fa fa-arrow-circle-o-left fa-3x"></i></a> -->
  </div>
  <img class="powered-by" src="images/powered_by_google_on_white.png">
</div>
