<!-- <i ng-show="loading" class="fa fa-spinner fa-spin"></i> -->

<!-- RESTUARANT PICTURES & OPTIONS TO ADD TO THE RESTAURANT -->
<!-- <div id="panel-menu" ng-show="restaurants.name.length > 0"> -->
<div id="panel-menu">
  <h2>{{ name }}</h2>
  <div ng-show="name" class="line-divider"></div>
  <!-- NO MENU AVAILABLE -->
  <div ng-show="menus.length == 0">
    <p>Unfortunately, there are no menus available for this restaurant.</p>
    <p>Feel free to add an item yourself!</p>
    <form class="form-inline text-center search" name="addMenuBox" ng-submit="restaurants.addMenuItem()">
      <div class="form-group">
        <input type="text" ng-model="restaurants.addMenuItem" class="form-control" placeholder="Signature Burger" title="Menu Item"></textarea>
      </div>
      <form id="uploadForm" enctype="multipart/form-data" action="/api/photo" method="post">
        <input type="file" name="photoupload">
        <input type="submit" value="Upload Image" name="submit">
      </form>
      <div class="form-group">
        <input type="text" ng-model="restaurants.addMenuType" class="form-control" placeholder="Lunch (OPTIONAL)" title="Type of Menu"></textarea>
      </div>
      <div class="form-group">
        <input type="text" ng-model="restaurants.addMenuSection" class="form-control" placeholder="Entrees (OPTIONAL)" title="Menu Section"></textarea>
      </div>
      <div class="form-group">
        <input type="text" ng-model="restaurants.addMenuSubsection" class="form-control" placeholder="Burgers & Sandwiches (OPTIONAL)" title="Menu Subsection"></textarea>
      </div>
      <button type="submit" class="btn btn-default">Find</button>
    </form>
  </div>

  <!-- MENU -->
  <div ng-controller="menuIndexController as menuCtrl">
    <!-- MENU DROPDOWN -->
    <div class="outside">
      <div ng-show="menus.length > 0" class="dropdown menu-dropdowns">
        <a class="dropdown-toggle" data-toggle="dropdown">
          <h3>{{menus[menuCtrl.menu].menu_name}}<span class="caret"></span></h3>
        </a>
        <ul class="dropdown-menu">
          <li ng-repeat="menu in menus" ng-click="menuCtrl.changeMenu($index)">{{menu.menu_name}}</li>
        </ul>
      </div>
    </div>

    <div class="outside">
      <div ng-show="menus[menuCtrl.menu].sections.length > 0" class="dropdown menu-dropdowns">
        <a class="dropdown-toggle" data-toggle="dropdown">
          <h4 ng-show="menus[menuCtrl.menu].sections[menuCtrl.section].section_name.length > 0">{{menus[menuCtrl.menu].sections[menuCtrl.section].section_name}}<span class="caret"></span></h4>
          <!-- <h4 ng-show="menus[menuCtrl.menu].sections[menuCtrl.section].section_name.length == 0 && menus[menuCtrl.menu].sections.length > 1">{{menus[menuCtrl.menu].menu_name}}<span class="caret"></span></h4> -->
        </a>
        <ul class="dropdown-menu">
          <li ng-repeat="section in menus[menuCtrl.menu].sections" ng-click="menuCtrl.changeSection($index)">{{section.section_name}}</li>
        </ul>
      </div>
    </div>

    <div class="outside">
      <div ng-show="menus[menuCtrl.menu].sections[menuCtrl.section].subsections.length > 1 || menus[menuCtrl.menu].sections[menuCtrl.section].subsections[0].subsection_name != ''" class="dropdown menu-dropdowns">
        <a class="dropdown-toggle" data-toggle="dropdown">
          <h5 ng-show="menus[menuCtrl.menu].sections[menuCtrl.section].subsections[menuCtrl.subsection].subsection_name.length > 0">{{menus[menuCtrl.menu].sections[menuCtrl.section].subsections[menuCtrl.subsection].subsection_name}}<span class="caret"></span></h5>
          <!-- <h5 ng-show="menus[menuCtrl.menu].sections[menuCtrl.section].subsections[menuCtrl.subsection].subsection_name.length == 0 && menus[menuCtrl.menu].sections[menuCtrl.section].section_name.length > 0 && menus[menuCtrl.menu].sections[menuCtrl.section].subsections.length > 1">{{menus[menuCtrl.menu].sections[menuCtrl.section].section_name}}<span class="caret"></span></h5> -->
          <!-- <h5 ng-show="menus[menuCtrl.menu].sections[menuCtrl.section].subsections[menuCtrl.subsection].subsection_name.length == 0 && menus[menuCtrl.menu].sections[menuCtrl.section].section_name.length == 0 && menus[menuCtrl.menu].sections[menuCtrl.section].subsections.length > 1">{{menus[menuCtrl.menu].menu_name}}<span class="caret"></span></h5> -->
        </a>
        <ul class="dropdown-menu">
          <li ng-repeat="subsection in menus[menuCtrl.menu].sections[menuCtrl.section].subsections" ng-click="menuCtrl.changeSubsection($index)">{{subsection.subsection_name}}</li>
        </ul>
      </div>
    </div>

    <div ng-show="menus[menuCtrl.menu].menu_name" class="line-divider"></div>

    <div ng-repeat="item in menus[menuCtrl.menu].sections[menuCtrl.section].subsections[menuCtrl.subsection].items">
      <p><span class="caret itemname"></span>{{item.item}}<span class="caret itemname"></span></p>
      <div ng-controller="carouselController" ng-init="carouselMenus(menus)">
        <!-- <div style="height: 305px"> -->
        <!-- TODO: HOW DO I GET RID OF THE INDICATORS?? -->
        <div>
          <uib-carousel interval="myInterval" no-wrap="noWrapSlides">
            <uib-slide ng-repeat="image in item.images" active="image.active">
              <img ng-src="{{image.url}}" style="margin:auto;">
              <div class="carousel-caption">
                <h4 class="picture-caption">{{item.item}}</h4>
                <p ng-show="image.origin == 'Google'"><i class="fa fa-google"></i></p>
              </div>
            </uib-slide>
          </uib-carousel>
        </div>
      </div>

      <div ng-controller="noCarouselController" class="no-image">
        <p ng-show="item.images.length == 0">{{noImageMessage}}</p>
        <!-- <button ng-click="showAddPhoto()">Add Photo?</button> -->
      </div>
      <p>Add your own picture!</p>
      <add-photo></add-photo>
      <!-- <button ng-show="item.images.length == 0" ng-click="imageUpdate(menuCtrl.menu, menuCtrl.section, menuCtrl.subsection, $index)" class="btn btn-default">Call the Google</button> -->
      <div ng-show="loadingImage && $index == loadingIndex" class="fa fa-spinner fa-spin fa-3x"></div>
    </div>


  </div>



    <a ng-show="menuOrigin == 'LOCU'" href="http://locu.com"><img class="powered-by" height="25" width="155" src="http://locu.com/static/images/dev/poweredby-color@2x.png" alt="Powered by Locu" /></a>
  </div>
</div>
