<form class="form-inline text-center search" name="searchBox" ng-submit="search()">
  <div class="form-group searchBox">
    <input type="text" ng-model="searchName" class="form-control" placeholder="Restaurant" title="Restaurant" required></textarea>
  </div>
  <div class="form-group searchBox">
    <input type="text" ng-model="searchLocation" class="form-control" placeholder="Location" title="City or State"></textarea>
  </div>
  <button type="submit find-button" class="btn btn-default">Find</button>
</form>
